# Polygon
POLY_API_KEY=polygon-api-key

# Alpaca
APCA_API_BASE_URL=https://data.alpaca.markets/v2
APCA_API_KEY_ID=api-key
APCA_API_SECRET_KEY=secret-key

# OANDA
OANDA_API_BASE_URL=https://exchange-rates-api.oanda.com
OANDA_API_KEY=api-key

OANDA_V20_API_BASE_URL=https://api-fxtrade.oanda.com/v3
OANDA_V20_PRACTICE_API_BASE_URL=https://api-fxpractice.oanda.com/v3
OANDA_V20_API_KEY=api-key

# exchangerates
ER_API_BASE_URL=https://api.exchangeratesapi.io/v1/
ER_API_KEY=api-key

# fcsapi
FCSAPI_API_BASE_URL=https://fcsapi.com/api-v3
FCSAPI_API_KEY=api-key

# finage
FINAGE_API_BASE_URL=https://api.finage.co.uk
FINAGE_API_KEY=api-key
