# Polygon
POLY_API_KEY=polygon-api-key

# Alpaca
APCA_API_BASE_URL=https://data.alpaca.markets/v2
APCA_API_KEY_ID=api-key
APCA_API_SECRET_KEY=secret-key

# OANDA
OANDA_API_BASE_URL=https://exchange-rates-api.oanda.com
OANDA_API_KEY=api-key

# exchangerates
ER_API_BASE_URL=https://api.exchangeratesapi.io/v1/
ER_API_KEY=api-key

# fcsapi
FCSAPI_API_BASE_URL=https://fcsapi.com/api-v3
FCSAPI_API_KEY=api-key
